.question {
  margin-top: 20px;
  padding: 20px;
  display: flex;

  @media screen and (max-width: 576px) {
    flex-direction: column;
  }
}

.question__img {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  object-fit: cover;

  @media screen and (max-width: 576px) {
    margin: 0 auto;
  }
}

.question__info {
  width: 100%;
  margin-left: 40px;
  margin-top: 10px;

  display: grid;
  grid-template-rows: 40% 60%;

  @media screen and (max-width: 576px) {
    margin-top: 20px;
    margin-left: 0;
  }
}

.question__item-name {
  font-size: 50px;

  @media screen and (max-width: 576px) {
    margin: 0 auto;
  }
}

.question__player {
  border-top: 1px solid #1A2027;
}