.game-page__header {
  width: 100%;
}

.game-page__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-page__logo {
  width: 260px;
  line-height: 100px;
  font-size: 70px;

  @media screen and (max-width: 768px) {
    width: 260px;
    line-height: 100px;
    font-size: 70px;
  }

  @media screen and (max-width: 576px) {
    width: 190px;
    line-height: 70px;
    font-size: 50px;
  }
}

.game-page__score {
  font-size: 40px;
}

.game-page__score-number {

}

.game-page__progress {
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  backdrop-filter: blur(20px);
  box-shadow: inset 0px -1px 1px var(--muidocs-palette-grey-100);
  background-color: rgba(255,255,255,0.72);
  border-radius: 10px;
  overflow: hidden;

  font-size: 25px;
}

.game-page__progress-item {
  height: 40px;
  padding: 0 10px;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &_active {
    background-color: rgba(255,255,255,0.92);
  }
}
