.answer__item-info {
  padding: 20px;
}

.answer__instuction {
  font-size: 25px;
  line-height: 30px;
}

.answer__card-info {
  display: none;
}

.answer__card {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 20px;

  @media screen and (max-width: 992px) {
    grid-template-columns: auto;
    grid-template-rows: 150px auto;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
  }

  @media screen and (max-width: 576px) {
    grid-template-columns: auto;
    grid-template-rows: 150px auto;
  }
}

.answer__img {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  object-fit: cover;

  @media screen and (max-width: 992px) {
    margin: 0 auto;
  }
}

.answer__info {
  display: grid;
  grid-template-rows: 40px 30px 85px;
}

.answer__name {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #00bc8c;
}

.answer__name-latins {
  display: flex;
  align-items: center;
  border-top: 1px solid #1A2027;
  font-size: 20px;
}

.answer__description {
  margin-top: 20px;
  font-size: 18px;
  line-height: 20px;
}
