@font-face {
  font-family: belissimo;
  src: url(../assets/fonts/Belissimo-script.ttf);
}

@font-face {
  font-family: baldur;
  src: url(../assets/fonts/Baldur-Nouveau.ttf);
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(limegreen,transparent),linear-gradient(90deg,
    skyblue,transparent),linear-gradient(-90deg,coral,transparent);
  background-blend-mode: screen;
  cursor: default;

  font-size: 16px;
  font-family: baldur;
  color: #1A2027;
}

main {
  width: 100%;
  margin-bottom: 20px;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1200px) {
    max-width: 960px;
  }

  @media screen and (max-width: 992px) {
    max-width: 720px;
  }

  @media screen and (max-width: 768px) {
    max-width: 540px;
  }

  @media screen and (max-width: 576px) {
    width: 90%;
  }
}

.app-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.app-bg__style {
  position: absolute;
  width: .001vmin;
  height: .001vmin;
  border-radius: 50%;
  opacity: .45;
  filter: blur(10px);

  &:nth-child(1) {
    box-shadow: 0 0 45vmax 45vmax #ff00ff;
  }

  &:nth-child(2) {
    box-shadow: 0 0 45vmax 45vmax hsla(0,0%,0%,.5);
  }
  
  &:nth-child(3) {
    box-shadow: 0 0 45vmax 45vmax #00ffff;
    opacity: .2;
  }

}

.logo {
  font-family: belissimo;

  color: #fff;
  background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
}

.start-page__nav,
.menu,
.strt-page__footer,
.question,
.game-page__progress,
.answer__variants-container,
.answer__item-info,
.next-level,
.result-page,
.gallery__types-container,
.gallery__list {
  backdrop-filter: blur(20px);
  box-shadow: inset 0px -1px 1px var(--muidocs-palette-grey-100);
  background-color: rgba(255,255,255,0.72);
  border-radius: 10px;
}