@font-face {
  font-family: belissimo;
  src: url(../assets/fonts/Belissimo-script.ttf);
}

@font-face {
  font-family: baldur;
  src: url(../assets/fonts/Baldur-Nouveau.ttf);
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(limegreen,transparent),linear-gradient(90deg,
    skyblue,transparent),linear-gradient(-90deg,coral,transparent);
  background-blend-mode: screen;
  cursor: default;

  font-size: 16px;
}

.app-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.app-bg__style {
  position: absolute;
  width: .001vmin;
  height: .001vmin;
  border-radius: 50%;
  opacity: .45;
  filter:blur(10px);

  &:nth-child(1) {
    box-shadow: 0 0 45vmax 45vmax #ff00ff;
    animation: hue 5s 0s linear infinite, move1 10s 0s linear infinite;
  }

  &:nth-child(2) {
    box-shadow: 0 0 45vmax 45vmax hsla(0,0%,0%,.5);
    animation: hue 10s 0s linear infinite, move2 15s 0s linear infinite;
  }
  
  &:nth-child(3) {
    box-shadow: 0 0 45vmax 45vmax #00ffff;
    animation: hue 15s 0s linear infinite, move3 20s 0s linear infinite;
    opacity: .2;
  }

}

@keyframes hue {

   100% {
    filter: hue-rotate(360deg);
  }

}

@keyframes move1 {

  0% {
    top: 0%;
    left: 50%;
  }

  25% {
    left: 0%;
  }

  50% {
    top: 100%;
  }

  75% {
    left: 100%;
  }

  100% {
    top: 0%;
    left: 50%;
  }

}

@keyframes move2 {

  0% {
    top: 50%;
    left: 100%;
  }

  25% {
    top: 100%;
  }

  50% {
    left: 0%;
  }

  75% {
    top: 0%;
  }

  100% {
    top: 50%; left: 100%;
  }

}

@keyframes move3 {
  0% {
    top: 100%;
    left: 50%;
  } 

  25% {
    left: 100%;
  }

  50% {
    top: 0%;
  }

  75% {
    left: 0%;
  }

  100% {
    top: 100%;left: 50%;
  }

}